.home{
	background-image: url( "img/code.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	box-sizing: content-box;

}
#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 10px 20px;
   /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}
.sp{
    padding-left: 10px;
    padding-right: 0px;
}
.contact-clean{
	background: #f1f7fc;
	padding: 80px 0;
	
}
form{
	border-radius: 10000px;
}
.bg-primary{
    padding-right: 100px;
    padding-bottom: 0%;
    overflow: hidden;
}
#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 99%;
}
.searchbarflex{
    padding-left: 10px;
    padding-right: 0%;
}
.bd{
	border: 16px solid;
	color: blue;
}
#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}
.position{
    padding-top: 10px;
padding-left: 12%;
	color: aqua;
}
#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
     

head{

font-family: 'Coda Caption', sans-serif;
	box-sizing: content-box;

}

.white{
            background-color: white;
			overflow: auto;
			
			
            border-radius: 20px;
    }
    .br{
        width: 83%;
    }
	.white	a{
		text-decoration: none;
		position:relative;
        padding-right: 140px;
	}
	.white button{
	border-radius: 150px;
	width: 140px;
	
	font-size: 20px;
	font-family: poppins;
	font-weight: 400;
	cursor: pointer;
}

.cent{
width: 90%;
justify-content: center;
align-items: center;
padding-left: 15px;
}
.bod{
	border: 10px solid blue;
	border-radius: 100px;
}
.white h3{
	text-align: right;
}